<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--script src="filter.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>


Выберете тип
<select id="filter">
    <option value="all">Все</option>
    <option value="book" >Книги</option>
    <option value="newspaper">Газеты</option>
    <option value="magazine">Журналы</option>
</select>
<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Author </th>
        <th> Price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${printEdition.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="product : ${printEdition}">
        <td><span th:text="${product.title}"> Title </span></td>
        <td><span th:text="${product.author}"> Author </span></td>
        <td><span th:text="${product.price}"> Price </span></td>
        <td><span><button>Купить </button></span></td>
    </tr>
    </tbody>
</table>

<script>
    var  filter = document.getElementById("filter");
    filter.onchange = function(){

    let  path;
    let filterValue = this.value;
    if (this.value ===  'all'){
        path = '/'
    } else {
        path = "/filter/" + this.value;
    }
    $.ajax({
        url: path,
        type: 'GET',

        success: function( data ) {
            $("body").html(data);
            $(filter).val(filterValue);

        },
        cache: false
        });
    };

</script>
</body>
</html>

